html {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}

/* Загальні стилі */
:root {
--main-font: 'Roboto', sans-serif;
--main-text-color:  #212121;
--secondary-text-color: #757575;
--acent-color: #2196F3;
--hero-and-footer-background-color: #2F303A;
}

body {
    font-family: var(--main-font);
    letter-spacing: 0.03em;
    font-size: 14px;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    /* рамку виділення взяв у коментар, головне самому про це не забути */

/* outline: 1px solid tomato;
    outline-offset: 2px; */

}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
img {
    display: block;
}
.list {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.section {
    padding: 94px 0;
}
/*Секція Хедера*/

.header-container {
    display: flex;
    align-items: center;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
}
.header-list {
    display: flex;
}
.header-item {
    margin-right: 50px;
}
.header-item:last-child {
    margin-right: 0;
}
.header-nav {
    margin-right: auto;
}

.header-mail {
    margin-right: 50px;
}
.link-logo {
    margin-right: 93px;
}

.link-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--acent-color);
}
.logo-color {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}
.nav-link, 
.link-mail,
.link-tel {
    color: var(--main-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
}
.nav-link.active {
    color: var(--acent-color);
}
.link-tel,.link-mail {
    color: var(--secondary-text-color);
}
.nav-link:hover,
.nav-link:focus,
.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
    color: var(--acent-color);
}
.nav-link:active {
    color: red;
}

/* Головна секція */
.main-section {
background-color: var(--hero-and-footer-background-color); 
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
max-width: 1600px;
max-height: 600px;
margin-right: auto;
margin-left: auto;

background-image: linear-gradient(
    to right,
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)
), url(../images/mainfon.jpg);

background-repeat: no-repeat;
background-position: center;
background-size: cover;

}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-bottom: 21px;
    margin-right: auto;
}
.btn-large {
    border-radius: 4px;
    border: solid var(--acent-color);
    padding: 10px 32px;
    min-width: 200px;
    min-height: 50px;
    text-align: center;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--acent-color);
}
/* Секція переваг */

.advantage-section {
    padding-bottom: 0;
}
.main-list {
    display: flex;
    gap: 30px;
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-text-color);

    margin-bottom: 10px;
}
.advantage-item {
    width: 270px;
}
.text-title {
    line-height: 1.71;
    color: var(--secondary-text-color);
    margin-right: 30px;
}
.text-title:last-child {
    margin-right: 0;
}
/* Секція команди */
.team-section {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #F5F4FA
}
.team-list {
    display: flex;
    gap: 30px;
}

.secondary-list {
    display: flex;
    gap: 30px;
}
.secondary-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 50px;
}
.secondary-title {
    margin-bottom: 50px;
}
.team-box {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
}
.about-team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 10px;
}
.profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
}
/* footer */
.footer {
padding-top: 60px;
padding-bottom: 60px;
background-color: var(--hero-and-footer-background-color);
}
.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
}
.footer-logo-color {
    color: #ffffff;
}
.footer-mail,
.footer-tel {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.footer-address {
    display: inline-block;

    color: #ffffff;
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
}
.footer-mail {
    display: inline-block;
}
.footer-list
.item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
    color: var(--acent-color);
}

/* Portfolio */
.title-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    margin-bottom: 4px;
}

.text-portfolio {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
}

.btn-portfolio {
    max-width: 145px;
    min-width: 73px;
    min-height: 38px;
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    background-color: #F5F4FA;
    color: #212121;
    border-radius: 4px;
    border: 0 solid #F5F4FA;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    background-color: var(--acent-color);
    color: #ffffff;
}
.btn-portfolio.active-btn {
    background-color: var(--acent-color);
    color: #ffffff;
}
.portfolio-list {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
}
.exampel-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.text-portfolio-container {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
/* socials icon  */
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;

    outline: 1px solid #FFFFFF;
}
.social-icon {
    fill: #AFB1B8;
}
.socials-link:hover,
.socials-link:focus {
background-color: #2196F3;
}
.socials-link:hover .social-icon {
    fill: #FFFFFF;
}
.socials-link:focus .social-icon {
    fill: #FFFFFF;
}
